---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Routing from '../components/Routing.astro';
import Icp from '../components/Icp.astro';
import Comparatif from '../components/Comparatif.astro';
import Pricing from '../components/Pricing.astro';
import Souverainete from '../components/Souverainete.astro';
import About from '../components/About.astro';
import FAQ from '../components/FAQ.astro';
import SocialProof from '../components/SocialProof.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main id="main-content" style="padding-top: 64px;">
    <Hero />
    <Problem />
    <HowItWorks />
    <Routing />
    <Icp />
    <Comparatif />
    <Souverainete />
    <FAQ />
    <SocialProof />
    <Pricing />
    <About />
    <CTAFinal />
    <Footer />
  </main>
</Base>